<?php

return array(
    'zendesk' => array(
        'host'    => '$ZD_HOST',
        'user'    => '$ZD_USER', // http://developer.zendesk.com/documentation/rest_api/introduction.html
        'token'   => '$ZD_TOKEN',
        'version' => 'v2',
        'debug' => false, // true or false
        'builders' => array(), // custom builders here
    ),
);
